dist

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.env
.env.*
!.env.sample
!.env.*.sample
node_modules/
.DS_Store
.Trash-*
Thumbs.db
$RECYCLE.BIN/
*.log
